{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "prettier",
    "plugin:testing-library/react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": ["import", "react", "@typescript-eslint", "react-hooks", "testing-library"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true
      }
    ],
    "@typescript-eslint/no-empty-function": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-use-before-define": 0,
    "@typescript-eslint/camelcase' was not found": 0,
    "array-callback-return": "warn",
    "import/no-default-export": "error",
    "import/no-unresolved": 2,
    "import/order": [
      "error",
      {
        "alphabetize": {
          "order": "asc"
        }
      }
    ],
    "jest/no-hooks": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "no-unused-vars": "off",
    "react/no-unescaped-entities": [
      "error",
      {
        "forbid": [">", "}", "\""]
      }
    ],
    "react/prop-types": "off",
    "react/self-closing-comp": "error",
    "react-hooks/exhaustive-deps": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [
    {
      "files": ["./**/*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["./**/*.stories.tsx"],
      "rules": {
        "import/no-default-export": "off",
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    },
    {
      "files": ["*.test.ts", "*.test.tsx"],
      "extends": ["plugin:jest/all"],
      "rules": {
        "jest/prefer-expect-assertions": "off"
      }
    },
    {
      "files": ["*.spec.ts", "*.spec.tsx"],
      "plugins": ["testcafe"],
      "extends": "plugin:testcafe/recommended"
    }
  ]
}
